@media (min-width: 1280px) {
  /*.container {
		width: 1260px;
	}*/
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .navbar-nav > li > a {
    padding: 26px 20px;
  }
  #video .left .white-arrow {
    left: 10px;
  }
  #video .right .white-arrow {
    right: 10px;
  }
}
@media (max-width: 768px) {
  #video .iframe-container {
    margin: 0 40px;
  }
}
